body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #242424;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2 {
    font-weight: 900;
    color: #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;

}

#title {
    font-family: 'Knewave', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background: #ece7d5;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0,0, 0) 0, rgba(0, 0, 0, 0) 60%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0,0, 0) 0, rgba(0, 0, 0, 0) 60%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0,0, 0) 0, rgba(0, 0, 0, 0) 60%, #000 100%);
}

section.module.parallax-1 {
    background-image: url("https://wallpapercave.com/wp/wp1972518.jpg");
}

section.module.parallax-2 {
    background-image: url("https://images8.alphacoders.com/744/744720.jpg");
}
section.module.parallax-3 {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/720/262/406/anime-naruto-shippuuden-uzumaki-naruto-anime-boy-hokage-naruto-illustration-wallpaper-preview.jpg");
}

section.module h1 {
    text-align: center;
    font-size: 78px;
    z-index: 50;
    color: #fff;
    text-transform: uppercase;
}